<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserMessages</key>
	<array>
		<dict>
			<key>Uid</key>
			<integer>1</integer>
			<key>Messages</key>
			<array>
				<dict>
					<key>Message</key>
					<string>这是一条消息0</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息1</string>
					<key>From</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息2</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息3</string>
					<key>From</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息4</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息5</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息6</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息7</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息8</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息9</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息10</string>
					<key>From</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Uid</key>
			<integer>2</integer>
			<key>Messages</key>
			<array>
				<dict>
					<key>Message</key>
					<string>这是一条消息0</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息1</string>
					<key>From</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息2</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息3</string>
					<key>From</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息4</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息5</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息6</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息7</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息8</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息9</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>Message</key>
					<string>这是一条消息10</string>
					<key>From</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
