<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScrollUpHideNavigationBarViewModel</key>
	<string>上滑渐隐导航栏示例</string>
	<key>ScrollUpHideTableHeadViewModel</key>
	<string>上滑渐隐TableView Head View示例</string>
	<key>BannerViewModel</key>
	<string>横幅视图</string>
	<key>RichTextViewModel</key>
	<string>富文本</string>
	<key>MvvmViewModel</key>
	<string>Mvvm示例</string>
</dict>
</plist>
