<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScrollUpHideNavigationBarViewModel</key>
	<string>Scroll Up Hide Navigation Bar</string>
	<key>ScrollUpHideTableHeadViewModel</key>
	<string>Scroll Up Hide Table Head</string>
	<key>BannerViewModel</key>
	<string>Banner View</string>
	<key>RichTextViewModel</key>
	<string>Rich Text</string>
</dict>
</plist>
